.side_menu_list {
  font-size: 30px;
  line-height: 60px;
  margin-top: 170px;
  margin-left: 10px;
  cursor: pointer;
}
.menu-item:hover {
  color: white;
  font-weight: 800;
  box-shadow: rgba(119, 119, 119, 0.4);
  display: block;
  background: rgba(43, 174, 102);
}

.each_menu_container {
  width: 300px;
  height: 40px;
  margin-bottom: 24px;
  line-height: 30px;
  font-size: 25px;
  font-weight: 800;
  margin-left: 10px;
}

.menu {
  color: white;
}

/* CSSTransition classes  */
.menu-first-enter {
  position: absolute;
  transform: translateX(110%);
}
.menu-first-enter-active {
  transform: translateX(0%);
  transition: all 1s ease;
}
.menu-first-exit {
  position: absolute;
}
.menu-first-exit-active {
  transform: translateX(-110%);
  transition: all 1s ease;
}

.menu-second-enter {
  transform: translateX(110%);
}
.menu-second-enter-active {
  transform: translateX(0%);
  transition: all 1s ease;
}
.menu-second-exit-active {
  transform: translateX(-110%);
  transition: all 1s ease;
}

.menu-third-enter {
  transform: translateX(110%);
}
.menu-third-enter-active {
  transform: translateX(0%);
  transition: all 1s ease;
}
.menu-third-exit-active {
  transform: translateX(-110%);
  transition: all 1s ease;
}
