.img_container {
  background: linear-gradient(135deg, rgba(33, 164, 92), rgba(23, 154, 82));
  padding-top: 20px;
}

.img_ {
  width: 680px;
  height: 680px;
  /* background-size: contain; */
  object-fit: contain;
}

.arrow_button {
  font-size: 60px;
  opacity: 0.5;
  position: absolute;
  background: transparent;
}

.left_arrow_button {
  top: 400px;
  transform: translateY(-50%);
}

.right_arrow_button {
  bottom: 400px;
  left: 680px;
  transform: translateY(50%) translateX(-100%);
}

.showpagenum {
  background: #777777;
  opacity: 0.5;
  width: 120px;
  font-size: 30px;
  text-align: center;
  border-radius: 10px;
  position: absolute;
  top: 800px;
  transform: translateY(-120%) translateX(-50%);
  left: 340px;
}
