/* 기본적인 스타일 */
li {
  list-style: none;
}
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}
a {
  text-decoration: none;
  color: black;
}
input[type="checkbox"] {
  display: none;
}
.nav_container {
  max-width: 1400px;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  background: royalblue;
  height: 80px;
}
.menuicon_container {
  width: 80px;
  height: 80px;
  background: red;
  display: block;
  float: left;
  position: relative;
  z-index: 2;
}
.menuicon_container > label {
  width: 40px;
  height: 40px;
  display: block;
  background: blue;
  position: absolute;
  top: 20px;
  left: 20px;
  cursor: pointer;
  z-index: 3;
}
.menuicon_container > label > span {
  width: 20px;
  height: 4px;
  display: block;
  background: white;
  position: absolute;
  left: 10px;
}
.nav_container
  > input[type="checkbox"]
  + .menuicon_container
  > label
  > span:nth-child(1) {
  top: 7px;
}
.nav_container
  > input[type="checkbox"]
  + .menuicon_container
  > label
  > span:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
}
.nav_container
  > input[type="checkbox"]
  + .menuicon_container
  > label
  > span:nth-child(3) {
  bottom: 7px;
}

/* 사이드메뉴 버튼 클릭하면 효과주기 */
.nav_container
  > input[type="checkbox"]:checked
  + .menuicon_container
  > label
  > span:nth-child(1) {
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
}
.nav_container
  > input[type="checkbox"]:checked
  + .menuicon_container
  > label
  > span:nth-child(2) {
  display: none;
}
.nav_container
  > input[type="checkbox"]:checked
  + .menuicon_container
  > label
  > span:nth-child(3) {
  top: 50%;
  transform: translateY(-50%) rotate(-45deg);
}

.nav_container > input[type="checkbox"]:checked ~ .side_menu_container {
  width: 320px;
  height: 984px;
  position: absolute;
  background: rgba(230, 230, 230, 0.8);
  top: 0px;
  display: block;
}

.logo_container {
  width: 240px;
  height: 80px;
  background: gold;
  float: left;
}

@media screen and (min-width: 680px) {
  .nav_menu_container {
    width: 320px;
    height: 80px;
    background: red;
    float: right;
  }
}

@media screen and (max-width: 680px) {
  .nav_menu_container {
    width: 320px;
    height: 80px;
    background: red;
    float: left;
  }
  .nav_container {
    max-width: 320px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    background: royalblue;
    height: 80px;
  }
}

.nav_menu_container > ul > li {
  width: 60px;
  height: 60px;
  background: gold;
  display: inline-block;
  margin: 10px;
}

.side_menu_container {
  position: absolute;
  width: 320px;
  background: brown;
  display: none;
}
