.title {
  font-size: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  box-sizing: border-box;
  font-weight: 800;
}

h3 {
  padding-top: 5px;
  padding-bottom: 5px;
}

.article {
  border: solide black 1px;
  font-size: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  box-sizing: border-box;
  font-weight: 700;
}

.worddesc {
  font-size: 20px;
  padding-bottom: 10px;
}

.img_container {
  position: relative;
  /* 글 작성할때 전부 padding 5px가 있어서 우측으로 밀리는 것을 왼쪽으로 밀음 */
  right: 5px;
  width: 680px;
  height: 800px;
}
