.section_container {
  padding: 0px;
  width: 1400px;
  margin: auto;
  background: linear-gradient(rgb(222, 238, 205), rgba(218, 205, 238, 0.6));
  display: flex;
  justify-content: space-around;
}
.area_container {
  background: rgba(43, 174, 102);
  border-radius: 5px;
  box-sizing: border-box;
  padding: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
  min-height: 50px;
  color: white;
}

.leftaside_container {
  width: 320px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.postarea_container {
  width: 680px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.rightaside_container {
  width: 320px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
