.section1_container {
  margin: auto;
  background: red;
  max-width: 1400px;
  padding: 0 20px;
  box-sizing: border-box;
}
.section1_frame {
  margin: auto;
  min-height: 400px;
  background: orange;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media screen and (min-width: 1024px) {
  .section1_container {
    min-width: 1024px;
    max-width: 1400px;
    background: yellow;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .section1_container {
    min-width: 768px;
    max-width: 1023px;
    background: yellow;
  }
}

@media screen and (max-width: 767px) {
  .section1_container {
    width: 440px;
    background: yellow;
  }
}
