.imageslider_container {
  box-sizing: border-box;
  background: green;
  width: 100%;
  position: relative;
}
@media screen and (min-width: 1024px) {
  .img_container {
    background: skyblue;
    width: 100%;
    padding-bottom: 50px;
    box-sizing: border-box;
    object-fit: contain;
    max-height: 500px;
  }
  .img_button_position {
    margin: auto;
    width: 20vw;
    opacity: 0.7;
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    max-width: 500px;
  }
  .show_page_num {
    font-size: 2.5vw;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .img_container {
    background: skyblue;
    width: 100%;
    padding-bottom: 50px;
    box-sizing: border-box;
    object-fit: contain;
    max-height: 400px;
  }
  .img_button_position {
    margin: auto;
    width: 220px;
    opacity: 0.7;
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
  }
  .show_page_num {
    font-size: 2.5vw;
  }
}
@media screen and (max-width: 767px) {
  .img_container {
    background: skyblue;
    width: 100%;
    padding-bottom: 50px;
    box-sizing: border-box;
    object-fit: contain;
    max-height: 300px;
  }
  .img_button_position {
    margin: auto;
    width: 220px;
    opacity: 0.7;
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
  }
  .show_page_num {
    font-size: 4vw;
  }
}

.arrow_button {
  opacity: 0.5;
  background: transparent;
  display: inline-block;
  font-size: 30px;
  padding: 0px 2px;
}

.left_arrow_button {
  float: left;
}

.right_arrow_button {
  float: right;
}

.arrow_button:active {
  color: white;
}

.show_page_num {
  background: #777777;
  position: absolute;
  box-sizing: border-box;
  min-height: 2vw;
  padding: 0px 5px;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: inline-block;
  text-align: center;
  border-radius: 10px;
}
