* {
  margin: 0px;
  padding: 0px;
  outline: none;
}
/* 전체적인 중심을 잡는 곳*/
.body_container {
  background: #aeaeae;
  max-width: 1440px;
  margin: auto;
  margin-bottom: 20px;
}
.top {
  width: 40px;
  height: 40px;
  position: fixed;
  display: block;
  right: 0px;
  bottom: 0px;
  background: gold;
  transform: translateX(-50%) translateY(-50%);
  cursor: pointer;
}
